name: 04 - Using Actions

on: 
    push:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: '16'
            - name: Install Dependencies
              run: npm ci
              working-directory: ./04-using-actions/react-app

